.torneios {
    .icone {
        color: $infoColor;
        margin-bottom: 0;
    }
    .infoTorneio {
        .texto {
            height: 40px;
            small {
                line-height: normal;
            }
        }
        .icone {
            top: 0;
        }
    }
    .counters {
        text-align: center;
        &.segundaFase {
            zoom: 0.9;
        }
        .classificadosEtapa,
        .duracaoPartida {
            .icone-xg {
                font-size: 4rem
            }
        }
        .counter-count {
            color: $successColor;
            font-size: 4rem;
            font-weight: 800;
            border-radius: 50%;
            position: relative;
            text-align: center;
            display: inline-block;
            margin-bottom: 0;
        }
        .icone-xs {
            margin-top: 15px;
        }
        .icone-xg {
            margin-right: 5px;
        }
        .classificadosEtapa,
        .duracaoPartida,
        .jogadoresPorPartida,
        .numPartidas,
        .formatoEtapa {
            width: 100%;
            .counter-flex {
                min-width: 150px;
                height: 75px;
                max-height: 75px;
                .bi-diagram-2-fill {
                    max-width: 65px;
                }
            }
            .detalhes {
                min-width: 120px;
            }
        }
    }
    .textoAdicionais {
        text-align: center;
        padding: 0 15px;
        max-width: 90vw;
    }
    .cronogramaEtapas {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
        margin: 0 auto;
        >div {
            margin-top: 15px;
            &:first-child {
                margin-top: 0
            }
        }
    }
    .configAdicionais {
        text-align: center;
        padding-left: 0;
    }
    .configAdicionaisFinal {
        .textoAdicionais {
            .list-group-flush {
                max-width: 250px;
                padding-left: 0;
                .list-group-item {
                    background: transparent;
                }
                .badge {
                    background-color: $successColor;
                }
            }
        }
        ol {
            li {
                text-align: left;
            }
        }
    }
    .premiacao {
        .premios {
            flex-direction: column;
        }
        img {
            max-width: 200px;
        }
    }
    .inscricao {
        ol {
            max-width: 300px;
            margin-bottom: 0;
        }
        .passosInscricao {
            flex-direction: column;
            .taxaInscricao {
                order: 1;
                text-align: center;
                margin-top: 20px;
                border: 1px solid $infoColor;
                border-radius: 10px;
                padding: 25px;
                .etapasPagas {
                    flex-direction: column;
                    >div:not(.verticalDivider) {
                        margin-bottom: 15px;
                    }
                }
                .pacoteEtapas {
                    margin: 5px 0 20px;
                    padding: 0 20px;
                }
                p.mt-3 {
                    margin-top: 10px !important;
                }
            }
        }
    }
    .informacoesImportantes,
    .sobreFormatoSuico {
        .accordionInformacoesImportantes,
        .accordionFormatoSuico {
            .accordion-button {
                &:not(.collapsed) {
                    background-color: transparent;
                    border-bottom: none;
                    border-color: rgba(0, 0, 0, 0.125);
                    &:after {
                        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230b655e'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
                    }
                }
                &:focus {
                    box-shadow: none;
                }
            }
            .accordion-body {
                padding-top: 0;
            }
        }
    }
    @media screen and (min-width: 992px) {
        .counters {
            .classificadosEtapa,
            .duracaoPartida,
            .jogadoresPorPartida,
            .numPartidas,
            .formatoEtapa {
                width: auto;
            }
            .icone-xs {
                position: absolute;
                margin-top: 0;
            }
            .classificadosEtapa {
                .icone-xs {
                    right: 20px;
                }
            }
            .duracaoPartida {
                .icone-xs {
                    right: -5px;
                }
            }
            .jogadoresPorPartida {
                .icone-xs {
                    right: 25px;
                }
            }
            .numPartidas {
                .icone-xs {
                    right: 20px;
                }
            }
            .formatoEtapa {
                .icone-xs {
                    right: -20px;
                }
            }
            .counter-flex {
                justify-content: center;
                .icone {
                    height: 100%;
                    max-height: 100%;
                }
            }
        }
        .configAdicionais {
            text-align: left;
        }
        .cronogramaEtapas {
            flex-direction: row;
            >div {
                margin-top: 0;
                margin-left: 25px;
                &:first-child {
                    margin-left: 0
                }
            }
        }
        .textoAdicionais {
            max-width: 80vw;
            margin: 0 auto;
        }
        .premiacao {
            .premios {
                flex-direction: row;
                justify-content: center;
                .segundoLugar {
                    margin-left: 100px;
                }
            }
        }
        .inscricao {
            ol {
                max-width: 500px;
            }
            .passosInscricao {
                flex-direction: row;
                .taxaInscricao {
                    order: 0;
                    text-align: left;
                    margin-top: 0;
                    .etapasPagas {
                        height: 70px;
                        flex-direction: row;
                    }
                    .pacoteEtapas {
                        margin-top: 1.5rem;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 762px) {
        .counters {
            .classificadosEtapa,
            .duracaoPartida,
            .jogadoresPorPartida,
            .numPartidas,
            .formatoEtapa {
                .counter-flex {
                    max-height: unset;
                    height: auto;
                }
            }
            .criteriosDesempate {
                padding: 0 15px;
            }
        }
        .plataforma,
        .modoJogo {
            margin-top: 15px;
            .icone {
                top: -6px;
            }
        }
        .video-regras {
            iframe {
                height: 200px;
            }
        }
        .instagramBGBH {
            margin-top: 20px;
        }
    }
}

.torneios {
    // background: url("http://www.bgbh.com.br/images/parallax/dino.svg") no-repeat;
    background-attachment: fixed;
    background-position: 120% 75%;
    background-size: 50%;
    * {
        &.success {
            color: $successColor;
        }
    }
    h1 {
        color: $primaryColor;
    }
    small {
        line-height: normal;
    }
    .bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow::before,
    .bs-tooltip-bottom .tooltip-arrow::before {
        border-bottom-color: $infoColor;
    }
    .tooltip-inner,
    .beautifier {
        background-color: $infoColor;
    }
    .imagemTorneio {
        height: 100vh;
        background: url("http://www.bgbh.com.br/images/torneios/parallax/draftosaurus.jpg");
        background-attachment: fixed;
        background-position: center top;
        background-repeat: no-repeat;
    }
    .icone-xs {
        font-size: $fontSizeXSmall;
        color: $secondaryColor;
        cursor: pointer;
    }
    .icone-lg {
        font-size: 3rem;
    }
    .icone-xg {
        font-size: 5rem;
    }
    .configAdicionais {
        padding-left: 20px;
    }
    footer {
        background: transparentize($secondaryColor, 0.7);
    }
    .etapasClassificatorias,
    .semifinal,
    .faseFinal {
        margin-top: 10px;
        border: 1px solid $infoColor;
        border-radius: 10px;
    }
    .comoJogar {
        background: transparentize($color: $secondaryColor, $amount: 0.7);
        padding: 35px 0;
    }
    .wrapperRegras {
        flex-direction: column;
        .video-regras:last-child {
            margin-top: 20px;
        }
    }
    @media screen and (min-width: 992px) {
        .imagemTorneio {
            height: 70vh;
            .fill-image {
                min-width: 100%;
                max-height: 100%;
            }
        }
        .configAdicionais {
            padding-left: 60px;
        }
        .wrapperRegras {
            flex-direction: row;
            .video-regras:last-child {
                margin-top: 0;
            }
        }
    }
    @media screen and (max-width: 762px) {
        .imagemTorneio {
            height: 175px;
            background-position: 0 86px;
            background-size: 100% auto;
        }
    }
}