/* custom CSS */

html {
    scroll-behavior: smooth;
}

body {
    font-size: 14px;
    color: #4e515a;
}
body:not(.em-construcao) {
    background: transparent url("http://bgbh.com.br/images/base-site-branco.jpg");
}
body.em-construcao {
    background: transparent url("/images/textura_preto_icones.png");
}
body.em-construcao #titleBar {
    display: none;
}

body footer,
body footer p {
    color: #a3a6ad;
}

h2 {
    margin: 0 0 0.5em 0;
}

hr {
    width: 100%;
}
.d-flex {
    display: flex;
}
.d-flex.align-center{
    align-items: center;
}
.d-flex.justify-center{
    justify-content: center;
}

.banner-ads-90 {
    max-height: 90px;
}
.banner-ads-270 {
    max-height: 270px;
}

.font-800 {
    font-weight: 800;
}
.font-red {
    color: crimson;
}
.font-green {
    color: #129b12;
}
.font-dark-red {
    color: #880f1d;
}
.highlight {
    font-weight: bold;
}
p strong {
    color: inherit;
}

input[type="button"],
input[type="submit"],
.btn-primary {
    background: #058e86;
}

input[type="button"]:hover,
input[type="submit"]:hover,
.btn-primary:hover {
    background: #06afa4;
}

input[type="button"].icon:before,
input[type="submit"].icon:before,
input[type="reset"].icon:before,
button.icon:before,
.button.icon:before {
    top: 0;
}

.image img {
    width: auto;
    max-width: 100%;
}

#em_construcao {
    width: 100vw;
    height: calc(100vh - 30px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#em_construcao .logo {
    margin: 40px auto 0;
    text-align: center;
}

#em_construcao img {
    height: auto;
    margin: 0 auto 30px;
    width: 80%;
    max-width: 600px;
}

#em_construcao h2 {
    color: white;
    font-size: 1.3em;
    text-align: center;
    font-weight: 500;
    padding: 15px;
    text-transform: none;
}

#em_construcao #counter {
    color: #e2ff00;
    font-weight: 800;
}

#em_construcao h2:last-child {
    margin-bottom: 30px;
}

.navbar {
    font-size: 1rem;
}

#page-wrapper {
    padding-top: 60px;
}

#header-wrapper {
    background: transparent url("images/bgbh-topo-site.png");
    background-size: cover;
    height: calc(100vh - 90px);
}

#header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 30px;
    z-index: 9;
    background: white;
    padding: 0
}

#header .inner {
    height: 60px;
}

#header .inner h1 {
    font-weight: 800;
}

#header #nav {
    line-height: 60px;
}

#nav li:hover,
#nav li.active {
    color: white;
}

#banner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: calc(100vh - 90px);
}

#banner img {
    max-width: 50%;
}

.wrapper.style1,
.wrapper.style3 {
    background: none;
}

.wrapper.style2 {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 3em 0;
}

.image:before {
    background: none;
}

.box.feature1 header.first h2 {
    font-weight: 800;
    font-size: 2.4em;
}

.box.feature1 header.first>p {
    font-weight: 300;
    font-size: 1.3em;
}

.box.feature1 header.first>p strong {
    font-weight: 800;
}

.feature1 a.image.featured {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.feature1 a.image.featured h3 {
    font-size: 1.3rem;
    font-weight: 800;
}

.highlight.red {
    color: crimson;
}

.aviso-responsabilidade {
    font-size: 1em;
    font-weight: 300;
    letter-spacing: normal;
}

.btn-planilha h3 {
    font-weight: 700;
}

.regras-planilha {
    font-size: 1.1em;
    letter-spacing: 0.1em;
}

.regras-planilha a {
    text-decoration: underline;
    font-weight: 600;
}

#desafios-e-torneios i,
#grupos-whatsapp i {
    color: #a7a7a7;
}

#grupos-whatsapp .box.excerpt {
    display: flex;
    align-items: center;
    justify-content: center;
}

#grupos-whatsapp .article-grupos {
    position: relative;
}

#grupos-whatsapp .article-grupos a.imagem-grupos { 
    text-decoration: none;
    color: #06afa4;
}

#grupos-whatsapp header.titulos-grupos {
    margin-bottom: 10px;
}

#grupos-whatsapp .imagem-grupos {
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.85em
}

#grupos-whatsapp .descricao-grupos {
    flex: 2;
}

p.font-red.restricoes-grupos {
    margin-top: 5px;
}

.siga-e-apoie {
    margin-top: 2em;
}

.redes-sociais ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.redes-sociais ul li {
    margin-right: 40px;
    min-width: 40px;
}

#footer .redes-sociais ul a {
    text-decoration: none;
    font-size: 3em;
    color: inherit;
}

#footer-wrapper {
    background: #303238;
}

#footer .redes-sociais ul li.wp-social-link-instagram:hover {
    color: #b1379a;
}

#footer .redes-sociais ul li.wp-social-link-facebook:hover {
    color: #3B5998;
}

.apoie-o-projeto p {
    font-size: 1.2rem;
}

.banners-grandes .inner {
    display: flex;
}

.banners-grandes .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form-contato label {
    color: #fff;
}

.form-contato input,
.form-contato textarea {
    margin-top: 5px;
}

.hidden-sm, .visible-md {
    display: block;
}
.visible-sm, .hidden-md {
    display: none;
}

/* MEDIA QUERIES */

/* exceto desktop */
@media screen and (max-width: 980px) {
    #page-wrapper {
        padding-top: 30px;
    }
    #titleBar {
        top: 30px;
    }
    #footer .row>.imp-medium {
        order: 1;
    }
    .banners-grandes .container img,
    .banner-pequeno img {
        max-width: 90%;
    }
    .banners-grandes .container img:last-child {
        display: none;
    }
}

/* só celular e tablet */
@media screen and (max-width: 736px) {
    .visible-sm {
        display: block;
    }
    .hidden-sm {
        display: none;
    }
    #page-wrapper .feature1 header h2 {
        font-size: 1.3em;
    }
    .box.feature1 header.first>p {
        font-size: 1em;
    }
    #page-wrapper .box.feature1 .btn-planilha h3 {
        font-size: 0.95em;
        white-space: normal;
        line-height: normal;
    }
    p.regras-planilha {
        font-size: 0.9em;
        line-height: normal;
    }
    .highlight.red {
        font-size: 0.75em;
        line-height: normal;
    }
    a.img-torneio.image.featured {
        width: 80%;
        margin: 0 auto;
    }
    .secao-torneio footer {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 10px 0 25px;
    }
    .secao-torneio footer a {
        width: auto;
        padding: 12px;
    }
    #desafios-e-torneios .image img {
        width: 100%;
    }
    #grupos-whatsapp .image img.auto-img {
        width: auto;
        max-width: 70%;
        margin: 0 auto;
    }
    #grupos-whatsapp .box.excerpt {
        flex-direction: column;
    }
    #grupos-whatsapp .box.excerpt header {
        margin-left: 0;
        margin-top: 10px;
    }
    #grupos-whatsapp .box.excerpt header,
    #grupos-whatsapp .box.excerpt p {
        text-align: center;
    }
    .siga-e-apoie {
        margin-top: 0;
    }
}

/* só celular */
@media screen and (max-width: 380px) {
    #banner img {
        max-width: 250px;
    }
}

/* exceto celular */
@media screen and (min-width: 737px) {
    hr.d-md-none {
        display: none;
    }
    .visible-md {
        display: block;
    }
    .hidden-md {
        display: none;
    }
}

/* só desktop */
@media screen and (min-width: 981px) {
    .feature1 a.image.featured img {
        max-width: 200px;
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        filter: grayscale(100%);
        transition: all 0.4s ease;
    }
    .feature1 a.image.featured img:hover {
        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        filter: grayscale(0%);
    }
    .box.excerpt>div {
        margin-left: 15px;
    }
}