.listaTrocasVendas {
    .num-bg {
        position: relative;
    }
    .legenda {
        top: -35px;
    }

    .page-item {
        &.active {
            .page-link {
                background-color: $primaryColor;
                border-color: $darkColor;
                color: white;
            }
        }
        .page-link {
            color: $darkColor;
        }
    }

    .banner-ads--center {
        background: transparent;
    }

    .bg-list {
        font-size: $fontSizeXSmall;
        border: 1px solid silver;

        .btn {
            font-size: $fontSizeXLSmall;
        }
    }
}