@import "variables";
@import "reset";
@import "buttons";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: $mainColor;
  font-family: $mainFont;
  background-image: url("https://lucascmedeiros.com.br/bgbh/dist/assets/images/textura_verde.png");
  background-size: cover;
}

body div#content1606197602 a.wp-block-button__link { color: white !important; }

a[href="*"], a.wp-block-button__link, .wp-block-button__link, .botoes-planilha a {
  color: white !important;
}

.logo {
  margin: $sectionMargin auto;
  img {
    width: 200px;
    height: auto;
  }
}

#wrapper_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $sectionPadding;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-weight: 300;
  font-size: 0.85rem;
  line-height: 1.25rem;
  text-align: center;
  max-width: 200px;

  &__text {
    margin-bottom: $elementLargeMargin;
  }

  &__buttons {
    display: flex;
    flex-direction: column;

    a {
      font-weight: bold;
      margin-bottom: $elementSmallMargin;
    }
  }

  &__rules {
    font-size: 0.65rem;
    a {
      color: white;
    }
    &:hover {
      a {
        color: lighten($color: #fff, $amount: 0.2);
        text-decoration: underline;
      }
    }
  }
}

.advertisement {
  background-color: white;
  width: 100%;
  height: 200px;
  margin: $sectionMargin 0;
}

@media screen and (min-width: 762px) {
  .intro {
    max-width: 620px;

    &__buttons {
      width: 100%;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}
