.navbar {
    top: 30px;
    max-width: 100vw;
    background-image: linear-gradient(to bottom, $primaryColor, $darkColor 40%);
}

.site-wrapper {
    margin-top: 82px;
}

.mainCarousel {
    height: calc(100vh - 90px);
    .carousel-item,
    .carousel-inner,
    .carousel-background {
        height: 100%;
        min-width: 100%;
        object-fit: cover;
    }
    .mainLogo {
        position: relative;
        max-width: 100%;
        top: -50px;
    }
    .carousel-caption p {
        color: white;
    }
}

.anchorSpacer {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

.sectionYSpacer {
    margin-top: $sectionYSpacerMobile;
    margin-bottom: $sectionYSpacerMobile;
    @media screen and (min-width: 992px) {
        margin-top: $sectionYSpacer;
        margin-bottom: $sectionYSpacer;
    }
}

.specialTitle {
    font-size: $fontSize2XLarge;
    &.primary {
        color: $primaryColor;
    }
    &.success {
        color: $successColor;
    }
    &.info {
        color: $infoColor;
    }
    &.danger {
        color: $dangerColor;
    }
}

.icone {
    color: $secondaryColor;
    position: relative;
    top: -2px;
    font-size: $fontSizeXLarge;
    &.primary {
        color: $primaryColor;
    }
    &.success {
        color: $successColor;
    }
    &.info {
        color: $infoColor;
    }
    &.danger {
        color: $dangerColor;
    }
}

.semibold {
    font-weight: $semiBold;
}

.bold {
    font-weight: $bold;
}

.extrabold {
    font-weight: $extraBold;
}

.darkRed {
    color: $darkRed;
}

.navbarLogoText {
    font-family: $secondaryFont;
    font-size: $fontSizeLarge;
    font-weight: $extraBold;
    color: white;
}

.navbar-dark {
    .navbar-nav {
        .nav-link {
            font-size: $fontSizeSmall;
            font-weight: $bold;
            color: $secondaryColor;
        }
    }
}

.btn {
    color: $buttonTextColor;
}

.btn-planilha {
    @include flexbox(column);
    font-size: $fontSizeMedium;
    text-decoration: none;
    text-align: center;
    img {
        width: 100%;
        max-width: 180px;
        &.btnImage {
            width: 90px;
            max-width: 90px;
        }
    }
}

.regras-lista {
    small {
        font-size: $fontSizeXSmall;
    }
}

.inheritLink {
    color: inherit;
    font-size: inherit;
    &:hover {
        color: darken($primaryColor, 15%);
    }
}

.site-footer {
    background: $darkColor;
}

.ultimosTorneios {
    .gray-filter {
        @include grayFilter();
    }
}

.verticalDivider {
    @include verticalDivider();
}

.faixaHorizontal {
    @extend %backgroundVariant;
    width: 100%;
    &.rounded {
        &--top {
            border-radius: 9px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}

@import "../../internal/objects_lista.scss";
@import "../../internal/objects_torneios.scss";