.brazilImperial {
    background-image: none;
    background-color: #fbfbfb;

    .imagemReview {
        height: 70vh;
        background: url("http://bgbh.com.br/public/images/reviews/brazilImperial/capa-Brazil-Imperial.png");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center -80px;
    }
    @media screen and (min-width: 992px) {
        .imagemReview {
            background-position: center -250px;
        }
    }

    .logos {
        img {
            max-width: 80px;
        }
    }
}